body {
    margin:0;
	color:#6a6f8c;
	background-image: url("https://imgur.com/Vegxcic.png");
    background-size: 75%;
	background-repeat: no-repeat;
	max-width:1920px;
	max-height: 1080px;
	font:600 16px/18px 'Open Sans',sans-serif;
}
.container {
    margin: 0 auto;
    background-color: rgba(28,54,118,.9);
    padding: 40px;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    float: right;
    margin-right: 35px;
    width:34.7%;
    height: 643px;
}
h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #fff;
    margin-left: 29px;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #aaa;
    display: block;
    margin-bottom: 10px;
    margin-left: 29px;
}
input[type="cpf"], input[type="password"] {
    width: 90%;
    height: 25px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: rgba(255,255,255,.1);
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: 29px;
}
input[type="submit"] {
    background-color: #1161ee;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
    width: 80%;
    margin-left: 60px;
    height: 45px;
}
input[type="submit"]:hover {
    background-color: #1c74ff;
}
.link {
    text-align: center;
    margin-top: 20px;
    color: #6a6f8c;
    font-size: 14px;
}
.link a {
    color: #6a6f8c;
    font-weight: bold;
    text-decoration: none;
}